[credential]
	helper = store

[user]
	name = {{command_output '~/dotfiles/scripts/git-identity github name'}}
	email = {{command_output '~/dotfiles/scripts/git-identity github email'}}

	[includeIf "hasconfig:remote.*.url:ssh://{{command_output '~/dotfiles/scripts/git-host is'}}*"]
	path = ~/.config/git/identity-is


	[includeIf "hasconfig:remote.*.url:ssh://{{command_output '~/dotfiles/scripts/git-host mq'}}*"]
	path = ~/.config/git/identity-mq

[core]
	editor = nvim

[color]
	ui = auto

[init]
	defaultBranch = main

[pull]
	rebase = true

[rebase]
  autoStash = true

[blame]
    coloring = highlightRecent
    date = relative
